.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #222;
    border-bottom: 1px solid #ccc;
}

.rounded {
    object-fit: cover;
    border-radius: 50%;
}
.userName {
    font-size: 1.15rem;
    font-weight: 500;
}